
img{
    width: 100%;
}
.slider{
    margin-top: 100px;
    text-align: center;
}
.slider__img{
    margin: auto;
    width: 700px;
}
.slider__block{
    max-width: 700px;
    overflow: hidden;
    margin: auto;
}
.slider__line{

    display: flex;
    position: relative;
    left: 0;
    transition: transform ease 1s   ;
}
.hidden{
    display: none;
}
.show{
    display: block;
}